/BlitzStrike/nbproject/private/
/BlitzStrike/build/
/BlitzStrike/nbbuild/
/BlitzStrike/dist/
/BlitzStrike/nbdist/
/BlitzStrike/nbactions.xml
/BlitzStrike/nb-configuration.xml
/blitzstrike-maven/target/
